<section class="productheader">
      <div class="container">
        <img src="https://via.placeholder.com/1920x300">
        <div class="titles">
          <div class="title-1">
            <h2>HOME</h2>
          </div>
          <div class="title-2">
            <h3>HOME. PRODUCT</h3>
          </div>
        </div>
      </div>
    </section>