<section class="header container">
    <div class="logo"><img src="~/../Images/logo.svg"></div>
    <div class="menulinkicons">
        <a asp-controller="Search" asp-action="Index" class="menu-link"><i class="fa-regular fa-magnifying-glass"></i></a>
        <a asp-controller="Login" asp-action="Index" class="menu-link">Login</a>
        <a asp-controller="Product" asp-action="WishList" class="menu-link"><i class="fa-sharp fa-regular fa-rectangle-vertical"></i></a>
    </div>
</section>