@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<partial name="~/Views/Shared/Partials/_Header.cshtml" />
    <section class="productheader">
      <div class="container">
        <img src="https://via.placeholder.com/1920x300">
        <div class="titles">
          <div class="title-1">
            <h2>HOME</h2>
          </div>
          <div class="title-2">
            <h3>HOME. CONTACT</h3>
          </div>
        </div>
      </div>
    </section>
<section class="contactform">
    <div class="container">
        <div class="form-container">
            <p class="firsttext">Write something</p>
            <div class="form">
                <div class="grid-name">
                    <label htmlFor="Name">Your Name*</label>
                    <input type="text" class="inputtext">
                </div>
                <div class="grid-email">
                    <label htmlFor="Email">Your Email*</label>
                    <input type="text" class="inputtext">
                </div>
                <div class="grid-phone">
                    <label htmlFor="Email">Phone number</label>
                    <input type="text" class="inputtext">
                </div>
                <div class="grid-company">
                    <label htmlFor="Email">Company(optional)</label>
                    <input type="text" class="inputtext">
                </div>
                <div class="grid-something">
                    <label htmlFor="Message">Something write*</label>
                    <input type="text" class="inputtext2">
                </div>
                <div class="grid-check">
                    <input type="checkbox">
                    <p>
                        Save my name, email, and website in this browser for next time I
                        comment
                    </p>
                </div>
                <div class="grid-button">
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="location">
        <div class="container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d130265.72825447141!2d17.84197049240102!3d59.32624196710754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f763119640bcb%3A0xa80d27d3679d7766!2sStockholm!5e0!3m2!1ssv!2sse!4v1670606566469!5m2!1ssv!2sse"
            ></iframe>
          </div>
    </section>
<partial name="~/Views/Shared/Partials/_Footer.cshtml" />